.select-box{
    width: 300px;
    position: relative;
    @media (max-width:4000px) {
        width: 700px;
    }
    @media (max-width:1744px) {
        width: 300px;
    }
    .select-option{
        position: relative;
        input{
            border: 1px solid #b3b3b3;
            width: 300px;
            background: #fff;
            color: #000;
            border-radius: 7px;
            cursor: pointer;
            font-size: 20px;
            padding: 10px 20px;
            outline: 0 !important;
           
        }
        &:after{
            content: "";
            border-top: 12px solid #000;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -8px;
            cursor: pointer;
            @media (max-width:4000px) {
                border-top: 24px solid #000;
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;            
            }
            @media (max-width:1744px) {
                border-top: 12px solid #000;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
            }
        }
    }
    .content{
        position: absolute;
        background:$coloryellow;
        color: #000;
        border-radius: 7px;
        margin-top: 5px;
        width: 100%;
        z-index: 999;
        padding: 20px;
        display: none;
        .search input{
            width: 100% !important;
            font-size: 17px;
            padding: 10px;
            outline: 0;
            border: 1px solid #b3b3b3;
            border-radius: 5px;
         }
         .options{
            margin: 10px;
            max-height: 300px;
            overflow-y: auto;
            li{
                padding: 10px 15px;
                cursor: pointer;
                border-bottom: 1px solid gray;
                &:hover{
                    background: #f2f2f2;
                }
            }
        }
    }
    &.active .content{
        display: block;
    }
    &.active .select-option:after {
        transform: rotate(-180deg);
    }
}



.containerss{
    font-family: "Rubik",sans-serif;
    background: #ffffff;
    // width: 60%;
    min-width: 300px;
    /* position: absolute; */
    /* transform: translate(-50%,-50%);
    top: 50%;
    left: 50%; */
    padding: 50px 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    span{
        i{
            color: $coloryellow;
            font-size: 20px;
            cursor: pointer;
            @media (max-width:4000px) {
                font-size: 40px;
            }
            @media (max-width:1744px) {
                font-size: 20px;
            }
        }
    }
    .image-container{
        width: 90%;
        margin: 0 auto 30px auto;
        img{
            display: block;
            /* position: relative; */
            max-width: 100%;
            max-height: 400px;
            margin: auto;
        }
        figcaption{
            margin: 20px 0 30px 0;
            text-align: center;
            color: #2a292a;
        }
    }
    .inputphoto{
        display: none;
    }
    .labelphoto{
        display: block;
        /* position: relative; */
        background: $coloryellow;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        min-width: 300px;
        padding: 18px 0;
        border-radius: 5px;
        margin: auto;
        cursor: pointer;
        @media (max-width:4000px) {
            font-size: 40px;
        }
        @media (max-width:1744px) {
            font-size: 18px;
        }
    }
}












// .select-box1{
//     width: 380px;
//     position: relative;
//     margin-bottom: 30px;
// }
// .select-option1{
//     position: relative;
// }
// .select-option1 input{
//     border-bottom: 1px solid gray;
//     width: 100%;
//     background: #fff;
//     color: #000;
//     border-radius: 7px;
//     cursor: pointer;
//     font-size: 20px;
//     padding: 10px 20px;
//     outline: 0 !important;
//     /* text-align: left; */
// }
// .select-option1:after{
//     content: "";
//     border-top: 12px solid #000;
//     border-left: 8px solid transparent;
//     border-right: 8px solid transparent;
//     position: absolute;
//     right: 15px;
//     top: 50%;
//     margin-top: -8px;
//     cursor: pointer;
// }
// .content1{
//     position: absolute;
//     background: #fff;
//     color: #000;
//     border-radius: 7px;
//     margin-top: 15px;
//     width: 100%;
//     z-index: 999;
//     padding: 20px;
//     display: none;
// }
// .select-box1.active .content1{
//     display: block;
// }
// .select-box1.active .select-option1:after {
//     transform: rotate(-180deg);
// }
// .search1 input{
//    width: 100%;
//    font-size: 17px;
//    padding: 10px;
//    outline: 0;
//    border: 1px solid #b3b3b3;
//    border-radius: 5px;
// }
// .options1{
//     margin: 20px;
//     max-height: 250px;
//     overflow-y: auto;
// }
// .options1 li{
//     padding: 10px 15px;
//     cursor: pointer;
//     border-bottom: 1px solid gray;
// }
// .options1 li:hover{
//     background: #f2f2f2;
// }

